/* =========================================
   CORES E CONFIGURAÇÕES GERAIS
========================================= */

:root {
    --verde-muito-escuro: #082516;
    --verde-escuro: #0f351f;
    --verde-principal: #195630;
    --verde-medio: #3d8050;
    --verde-claro: #b7d989;

    --dourado: #e0c96e;
    --branco: #ffffff;
    --creme: #f6f3e9;
    --texto-escuro: #27332b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;

    font-family: "Montserrat", sans-serif;

    background-color: var(--creme);
    color: var(--texto-escuro);

    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}
